main{
  grid-area: main;
  background: #fff;
  display: grid;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "."
  "registraion_box"
  "."
  ;
}

.registration_box{
  height: 1fr;
  width: 400px;
  padding: 50px;
  border: 1px solid gray;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.registration_box input{
  display: block;
  width: 100%;
}

.prepage, .register{
  border: 0;
  color: gray;
  background: white;
}

.prepage:hover, .register:hover{
  color: black;
}

.registration_text {
  font-size: 15px;
  color: gray;
  padding: 10px 0px 5px 5px;
}

.registration_input{
  height: 1fr;
  padding: 20px 0px 20px 5px;
  border: 1px solid gray;
  margin: auto;
}

.is_exist{
  width:400px;
  color: white;
  background: black;
  font-size: 20px;
}