main{
  grid-area: main;
  background: #fff;
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr 0.2fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "."
  "content"
  "."
  ;
}

.registration_box{
  grid-area: content;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  padding: 50px 50px 50px 50px;
  align-items: center;
}

.registration_text{
margin-top: 10px;
margin-bottom: 5px;
padding-left: 10px;
color: gray;
}

.registration_input{
  width: 380px;
  border: 1px solid gray;
  padding: 20px 10px 20px 10px ;
}

.is_exist{
  width: 402px;
  border: 1px solid gray;
  padding: 0px;
  color: white;
  background: black;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.is_exist:hover{
  background: gray;
}
.is_exist:active{
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.notice{
  text-align: center;
}

.registration_submit{
  width:100%;
  padding: 15px 0px 15px 0px;
  color: white;
  background: black;
  font-size: 20px;
}
.registration_submit:hover{
  background: gray;
}
.registration_submit:active{
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.prepage, .register{
  border: 0;
  color: gray;
  background: white;
}